<div class="sign-up__container">
  <div class="sign-up__image">
    <img src="../../../../../assets/multipersonas.jpg" alt="" />
  </div>

  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" />
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Age" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Phone Number" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" />
    </mat-form-field>
  </div>
</div>
